@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-sage: #667b68;
  --color-terra-cota: #b05c3c;
  --color-deep-forest: #3b4443;
  --color-oat: #f0e9e1;
}


* {
  --swiper-scrollbar-size: 2px;
  --swiper-scrollbar-drag-bg-color: #3d3d3d;
  --swiper-scrollbar-bg-color: #cecece;
  --theme-form-field-background-initial-color:#fff;
    font-family: "Roboto", sans-serif;
}
.lora {
  font-family: "Lora", serif;
}
.home{
    @apply bg-[#F4F5F4];
}

body {
  @apply text-deep-forest max-w-[1640px] mx-auto bg-[#F4F5F4];
}
main{
    @apply min-h-screen;
}
.ct-container{
    @apply px-4 md:px-10 lg:px-12 xl:px-16;
}
.button-next,
.button-prev {
  @apply cursor-pointer;
}
.button-next svg,
.button-prev svg {
  @apply fill-sage;
}
.button-next.swiper-button-disabled svg,
.button-prev.swiper-button-disabled svg {
  @apply opacity-50;
}

.button-next.swiper-button-disabled,
.button-prev.swiper-button-disabled {
  @apply cursor-auto;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-terra-cota;
}

.swiper-pagination-bullet {
  @apply !w-8 h-1 !rounded-sm bg-oat;
}
[x-cloak] {
  display: none;
}



.buy-now-button {
  @apply !bg-terra-cota !rounded-full !uppercase !font-medium !border !border-terra-cota !text-white;
}


body .product {
  @apply !bg-[#F4F5F4];
}

select.custom-select {
  @apply appearance-none bg-no-repeat bg-[right_0.75rem_center] bg-[length:1rem_1rem];
}
select.custom-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='16' viewBox='0 0 21 16' fill='none'%3E%3Cpath d='M0.81543 1.53873C0.81543 0.935264 1.26499 0.446045 1.81955 0.446045H19.8936C20.4482 0.446045 20.8977 0.935264 20.8977 1.53873C20.8977 2.1422 20.4482 2.63142 19.8936 2.63142H1.81955C1.26499 2.63142 0.81543 2.1422 0.81543 1.53873Z' fill='%23919191'/%3E%3Cpath d='M3.82617 8.09635C3.82617 7.49286 4.27573 7.00366 4.83029 7.00366H16.8797C17.4342 7.00366 17.8838 7.49286 17.8838 8.09635C17.8838 8.69984 17.4342 9.18904 16.8797 9.18904H4.83029C4.27573 9.18904 3.82617 8.69984 3.82617 8.09635Z' fill='%23919191'/%3E%3Cpath d='M7.84591 13.5613C7.29136 13.5613 6.8418 14.0505 6.8418 14.654C6.8418 15.2575 7.29136 15.7467 7.84591 15.7467H13.8706C14.4252 15.7467 14.8747 15.2575 14.8747 14.654C14.8747 14.0505 14.4252 13.5613 13.8706 13.5613H7.84591Z' fill='%23919191'/%3E%3C/svg%3E");
}


